.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav-links {
  color:white;/*will change background-color of element */
  text-decoration: none;
  padding-inline: 10px;
}

.nav-links:hover {
  color: #FFB9F0; /*will change color of text within the element on hover */
  text-decoration: none;
}

html {
  background-color: #B00000;
  color: white;
}

body {

  background-color: #0A0A0A !important;
  color: #FBFBFB !important;
}

.wiki-link {
  text-decoration: none;
  color: #0A0A0A;
}
.wiki-link:hover {
  text-decoration: none;
  color: #FF0000;
}